*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}


.section-main{
    height:125vh;
    background:url('https://images.unsplash.com/photo-1608874973277-a34ed4aba3f8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80')center/cover fixed no-repeat;

   
}
.section-about{
    height: 100vh;
    background: url('https://images5.alphacoders.com/112/thumb-1920-1120171.jpg')center/cover no-repeat;
}